APP_NAME=AI Knowledge Base
ENVIRONMENT=development
DEBUG=true

SECRET_KEY=7080ab263445khndt586779274d35rgy7544432676617e8b2fdaf29604jdh50f

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/knowledge_base
REDIS_URL=redis://localhost:6379/0